Package: com.insanj.pulse
Name: Pulse
Depends: mobilesubstrate 
Version: 1.0
Architecture: iphoneos-arm
Description: Suppress spurious slider slides.
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks